/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  /*Colors from our palette: */
  --red: #a41613;
  --orange: #fa9500;
  --offwhite: #fffff7;
  --offblack: #1c1818;
  --darkblue: #465472;
  /*Other useful colors: */
  --white: #fff;
  --medgrey: #e0e0e0;
  --darkgrey: #d4d4d4;
  --brightgreen: #2ecc71;
  --NBAblue:#17408b;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 48px;
}

@font-face {
  font-family: 'pakenhamregular';
  src: url('public/fonts/Packenham/pakenham.woff2') format('woff2'),
       url('public/fonts/Packenham/pakenham.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'united_kingdomregular';
  src: url('public/fonts/UnitedKingdom/uk.woff2') format('woff2'),
       url('public/fonts/UnitedKingdom/uk.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'green_mountain_3regular';
  src: url('public/fonts/GreenMountain/GreenMountain.woff2') format('woff2'),
       url('public/fonts/GreenMountain/GreenMountain.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  font-family: "pakenhamregular", sans-serif;
  font-weight: 300;
}

.UnitedKingdom {
  font-family:"united_kingdomregular";
  font-weight: 300;

}

.Pakenham {
  font-family: 'pakenhamregular';
  font-weight: 300;
}

.GreenMountain {
  font-family: 'green_mountain_3regular';
}
form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.App-background {
  background-color: #ffffff;
}

.bg{
  background: url('./public/img/bg.png');
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}