
.Dashboard-header{
    background-image: url("../../public/img/swish.jpg");
    background-color: var(--offblack);
    height: 85vh;
    background-position: bottom;
    background-size: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
 


}


.Dashboard-headerText{
    font-family:'united_kingdomregular'; 
    font-size: 65pt;
    color: #f1f5f2;
    padding-right:35px;
    padding-top: 250px;
    text-align: center;
    filter: brightness(100%);
}

.Dashboard-headersubText{
    font-family:'pakenhamregular'; 
    font-size: 18pt;
    color: #a9a9a9;
    text-align:center;
    word-spacing: 1px;

}

.IncompleteRed {
    color: var(--red);
    margin-left: var(--s);
}

.PredictionStatus {
    float: right;
}

.CompleteGreen {
    color: var(--brightgreen);
    margin-left: var(--s);
}

.pageheading{
    font-size: 56pt;
    margin:8px;
    margin-top:10px;
    margin-left: 12px;
}

.sectionheading{

    font-size: 24pt;
    text-align: center;

}

.predStatus{
    margin-left: 12px;
}