.LoginPage-background{
    background-image: url("../../public/img/bw.jpg");
    background-color: var(--offblack);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: #f1f5f2;
    margin-top: -8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.LoginPage-descriptionContainer{
    display:flex;
    flex-direction: column;
    width: 55%;
    padding-top: 25px;
    padding-left: 80px;
    padding-bottom: 25px;

}

.LoginPage-descriptionItem{
    text-align: justify;
    font-size: 15pt;
    color: #39393a;
    line-height: 1.5;
    
}

.LoginPage-footerContainer{
    display:flex;
    align-items: center;
    width: 75%;
    padding-left:50px;
    margin:5px;
    

}

.LoginPage-bigMessage{
    font-family:'united_kingdomregular'; 
    font-size: 65pt;
    color: #f1f5f2;
    margin-right:65px;
    padding-top: 10px;
    text-align: right;
    width:100%;
  
}

.LoginPage-verticalContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-left:10vh;
    margin-top:5vh;
    width:100%;
    margin: 0 auto;
}

.LoginPage-howitworks{
    font-family:'united_kingdomregular';
    color:var(--red);
    font-size: 38pt;
    text-align: center;
    width:25%;
    margin-left:-25vh;

}

.LoginPage-graphic{
    background-image: url("../../public/img/gameflow3.png");
    width: 175px;
    height:575px;
    margin-right: 15vh;
    margin-left:-25vh;
    margin-top:10vh;
}

.LoginPage-contentContainer{
    display: flex;
    align-items: center;
}