
.Standings-header{
  background-image: url("../../public/img/mj2.png");
  background-color: var(--offblack);
  height: 85vh;
  background-position: bottom;
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;


}

.Standings-headerText{
  font-family:'united_kingdomregular'; 
  font-size: 65pt;
  color: #ffffff;
  padding-right:35px;
  padding-top: 250px;
  text-align: center;
  filter: brightness(100%);
}

.Standings-headersubText{
  font-family:'pakenhamregular'; 
  font-size: 18pt;
  color: #ffffff;
  text-align:center;
  word-spacing: 1px;
  opacity: 1.0;
}

.OverallStandings-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.OverallStandings-column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;
}
.table-header {
  font-size: 28px;
  font-weight: bold;
}

.table-entry{
  font-size: 20px;
  
}



table {
  font-family: 'pakenhamregular';
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
}

td, th {
  border: 1px solid var(--offblack);
  text-align: center;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: var(--medgrey);
}