.Predictions-header{
    background-image: url("../../public/img/court.jpg");
    background-color: var(--offblack);
    height: 95vh;
    background-position: bottom;
    background-size: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 70px;


}


.Predictions-headerText{
    font-family:'united_kingdomregular'; 
    font-size: 65pt;
    color: #f1f5f2;
    padding-right:35px;
    padding-top: 240px;
    text-align: center;
    filter: brightness(100%);
}

.Predictions-headersubText{
    font-family:'pakenhamregular'; 
    font-size: 18pt;
    color: #e6e6e6;
    text-align:center;
    word-spacing: 1px;

}






.Predictions-predictionEntryContainer{
    display: flex;

}
.pageheading{
    font-size: 56pt;
    margin:8px;
    margin-top:10px;
    margin-left: 12px;
    margin-bottom: -5px;
}

.Predictions-buttonContainer{
    margin-top: 30px;
    display:flex;
    justify-content: center;
    
}
.Predictions-submitButton{
    background-color: #dd1c1a;
    color: #ffffff;
    margin-top: 5%;
    border-radius: 6px;
    font-family: "green_mountain_3regular";
    font-size: 24px;
    margin:10px;
    padding-top:2px;
    padding-bottom: 2px;
}

.Predictions-submitButton:hover{
    background-color: #ffcccb;
    color: var(--offblack);
    cursor: pointer;
}
.Predictions-submitButton {
    transition: all .1s;
  }

.NextGameCard-container{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    border: 2px solid #000000;
    padding: var(--m);
    margin-top : var(--s);
    margin-bottom : var(--s);
    margin-left: 5px;
    margin-right: 5px;
    width:fit-content;
    word-spacing: 4px;
    border-radius: 6px;
    background-color: var(--offwhite);
}

.Predictions-lockedIn{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24pt;
    text-align: center;
    color:green;

}
