.Predictions-predictionEntryContainer{
    display: flex;

}
.pageheading{
    font-size: 56pt;
    margin:8px;
    margin-top:10px;
    margin-left: 12px;
    margin-bottom: -5px;
}

.Predictions-submitButton{
    background-color: #dd1c1a;
    color: #f1f5f2;
    margin-top: 5%;
    border-radius: 6px;
    font-family: "pakenhamregular";
    font-size: 24px;
}

.Predictions-submitButton:hover{
    background-color: #ffcccb;
    color: var(--offblack);
    cursor: pointer;
}

.NextGameCard-container{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    border: 2px solid #000000;
    padding: var(--m);
    margin-top : var(--s);
    margin-bottom : var(--s);
    margin-left: 5px;
    margin-right: 5px;
    width:fit-content;
    word-spacing: 4px;
}

.Predictions-lockedIn{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24pt;
    text-align: center;
    color:green;

}
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:green;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:green;
    left:8px;
    top:12px;
}