.Profile-picture {
  margin-top: 20px;
  border-radius: 50%;
  max-width: 500px;
  max-height: 500px;
  border: 8px solid var(--offblack);

  }

.Medal-img {
  padding-left: 20px;
  padding-right: 20px;
  height: 200px;
  width: 200px;
}


.medalContainer{
  display:flex;
  align-items: baseline;
  height: 200px;
  width:100%;
  margin-top:60px;
  margin-bottom:200px;
  justify-content: center;
}

.goldMedal{
  width:245px;
  height: 245px;
  background-image: url('../../public/img/gold_medal.png');
  margin:25px;
  font-family: 'green_mountain_3regular';
  font-size: 48pt;
  text-align: center;
  vertical-align: middle;
  line-height: 245px;
  color: var(--offblack);
}

.silverMedal{
  width:245px;
  height: 245px;
  background-image: url('../../public/img/silver_medal.png');
  margin:25px;
  font-family: 'green_mountain_3regular';
  font-size: 48pt;
  text-align: center;
  vertical-align: middle;
  line-height: 245px;
  color: var(--offblack);
}


.bronzeMedal{
  width:245px;
  height: 245px;
  background-image: url('../../public/img/bronze_medal.png');
  margin:25px;
  font-family: 'green_mountain_3regular';
  font-size: 48pt;
  text-align: center;
  vertical-align: middle;
  line-height: 245px;
  color: var(--offblack);
}

.Dates-list {
  font-family: 'green_mountain_3regular';
  font-size: 12pt;
  text-align: center;
}

.medalAndDate{
  display:flex;
  flex-direction: column;
}