.Navbar-container {
    padding-top: var(--s);
    padding-bottom: var(--s);
    padding-left: var(--m);
    padding-right: var(--m);
    background-color: var(--red);
  }
  
  .Navbar-title {
    color: var(--offwhite);
    font-size: 36px;
    font-family: 'united_kingdomregular';
  }
  
  .Navbar-routeContainer {
    margin-left: var(--xxl);
  }
  .Navbar-name{
    margin-right: 12px;
  }
  .Navbar-route,
  .Navbar-route:visited {
    color: var(--offblack);
    opacity: 0.95;
    text-decoration: none;
    font-size: 24px;
  }
  
  .Navbar-route:hover {
    color: var(--offwhite);
    opacity: 0.75;
  }
  
  .Navbar-route.Navbar-login {
    opacity: 1;
  }
  
  .Navbar-route + .Navbar-route {
    margin-left: var(--xl);
  }

  .Navbar-logout {
    float: right;
  }

  .Navbar-sticky{
    position: fixed;
    top: auto;
    width: 100%;
    margin-top:10%;
}

.Navbar-logo {
  /* ADD logo formatting here!! */
  
}