.Navbar-container {
    padding-top: var(--s);
    padding-bottom: var(--s);
    padding-left: var(--m);
    padding-right: var(--m);
    background-color: var(--red);
    /* border-radius: 0px 0px 5px 5px; */
    position:sticky;
    top:0;
    transition: all .7s ease-in;
    z-index: 99;
  }
  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  }
  
  .Navbar-title {
    color: var(--offwhite);
    font-size: 40px;
    font-family: 'united_kingdomregular';
  }

  .Navbar-title:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ;
  }
  
  
  .Navbar-routeContainer {
    margin-left: var(--xxl);
  }
  .Navbar-name{
    margin-right: 12px;
  }
  .Navbar-route {
    color: var(--offwhite);
    opacity: 0.95;
    text-decoration: none;
    font-size: 24px;
  }
  
  .Navbar-route:hover {
    color: var(--medgrey);
    opacity: 0.75;
    border-bottom: 5px solid var(--offblack);
  }

  .Navbar-route {
    transition: all .1s;
  }
  
  .Navbar-route:visited {
    opacity: 0.95;
    border-bottom: 5px solid var(--offblack);
  }
  
  .Route-clicked {
    color: var(--offwhite);
    border-bottom: 5px solid var(--offblack);
  }

  .Navbar-route.Navbar-login {
    opacity: 1;
  }
  
  .Route-container {
    margin-right: var(--xl);
  }

  .Navbar-route + .Navbar-route {
    margin-left: var(--xl);
  }

  .Navbar-logout {
    float: right;
  }

  .Navbar-sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.Navbar-logo {
  /* ADD logo formatting here!! */
  margin-right: var(--m);
}

.Navbar-pfpContainer{
  padding-right: var(--m);
  margin-right: -8px;
}
.Navbar-pfp {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 2px solid var(--offwhite);

    
  }

  .button-log{
    background-color: var(--offwhite);
    color: #000;
    margin-top: 5%;
    border-radius: 8px;
    font-family: "united_kingdomregular";
    font-size: 20px;
    margin-right:0px;
    margin-left:3px;
    margin-bottom:12px;
    padding-top:2px;
    padding-bottom: 2px;

}

.button-log:hover{
    background-color: #ffcccb;
    color: var(--offblack);
    cursor: pointer;
}

.Navbar-rightside{
  display:flex;
  align-items:center;
  

}