.NextGameCard-container{
    display: flex;
    flex-direction: column-reverse;
    max-width: 200%;
    margin-left:10px;
    margin-right:10px;
}



.NextGameCard-allGamesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.NextGameCard-setting{
    display:flex;
    flex-direction: column;
}

.NextGameCard-matchup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}


.NextGameCard-teamContainerTop{
    display:flex;
    align-items: center;
    margin-bottom: -15px;
    margin-top: -15px;
    
}

.NextGameCard-teamContainerBottom{
    display:flex;
    align-items: center;
    margin-top: -15px;
    
    
}

.NextGameCard-time{
    font-size: 12pt;
    color: var(--red);
    word-spacing: 2px;
}



.NextGameCard-abbrev{
    font-size:28pt;
    font-family: 'green_mountain_3regular';
}

.NextGameCard-line{
    border: 1px solid;
}
img {
    max-width:100px;
    max-height:100px;

  }

