.PostInput-container{
    display: flex;
    width:60%;
    margin:auto;
    align-items:flex-start;
    border-style:solid;
    border-radius: 5px;
    padding:1px;
}

.PostInput-inputBox{
    width:95%;
    height:26px;
}

.PostInput-button{
    height:100%;
    font-family: 'pakenhamregular';
    font-size:16pt;
    background-color: var(--red);
    color: var(--offwhite);

}