.PredictionCriteriaBox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:12%;
    border-style:solid;
    border-top-style: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width:70%;
    padding:10px;
    background-color: #e8e8e8;
    margin-top:-10px;
   
    

};

.PredictionCriteriaBox-item{
    margin:10px;
};

.PredictionCriteriaBox-savedWinnerText{
    font-size: 7pt;
    color: #dd1c1a;
}

.PredictionCriteriaBox-entryPrompt{
    font-size:18pt;
    margin-right: 20px;
    margin-top:-10px;
}