.ResultGameCard-allGamesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ResultGameCard-container{
    display: flex;
    flex-direction: row;
    margin-left:10px;
    margin-right:10px;
    background-color: var(--offwhite);
}

.ResultGameCard-scoreActual{
    font-size: 18pt;
    color: var(--darkblue);
}

.ResultGameCard-scorePredicted{
    font-size: 14pt;
    color: var(--offblack);
}

.ResultGameCard-score{
    font-size:26pt;
    font-family: 'green_mountain_3regular';
    color:grey;
}


.Result-loss{
    color: var(--red);
}
.Result-win{
    color: var(--brightgreen);
}
.ResultGameCard-pointBreakdown{
    font-size: 11pt;
    word-spacing: 1px;
    color: var(--darkblue);
}
.ResultGameCard-matchup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.ResultGameCard-abbrev{
    font-size:24pt;
    font-family: 'green_mountain_3regular';
    color:black;
}



.ResultGameCard-teamContainerTop{
    display:flex;
    align-items: center;
    margin-bottom: -15px;
    margin-top: -15px;
    
}

.ResultGameCard-teamContainerBottom{
    display:flex;
    align-items: center;
    margin-top: -15px;
    
    
}
